PORT=5000
NODE_ENV=development
DB_TYPE=sqlite

# SQLite Configuration
DB_PATH=./data/podcast.sqlite

# Podcast Index API (se necessário)
PODCAST_INDEX_KEY=your_podcast_index_api_key_here
PODCAST_INDEX_SECRET=your_podcast_index_api_secret_here